body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 17px;
}

a:visited {
  text-decoration: none;
}

header {
  background: url(./../img/background.png) no-repeat center top / cover;
  height: 500px;
  text-align: center;
}

.wrapper {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

header p {
  color: #fff;
  margin-bottom: 50px;
}

.greeting {
  font-weight: 700;
  padding-top: 100px;
  font-size: 35px;
  color: #fff;
  padding-bottom: 10px;
}

.readMore {
  text-align: center;
  color: #fff;
  width: 160px;
  height: 65px;
  padding: 15px 35px;
  font-size: 18px;
  border: 1px solid #666;
  background: #333;
  text-decoration: none;
}

.readMore:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

.firstSection {
  text-align: center;
  height: 200px;
  background: #fff;
}

.firstSection h2 {
  padding: 20px 0px;
  font-size: 26px;
}

.sectionText {
  columns: 2;
}

.secondSection {
  background: #333;
}

.secondSectionWrapper {
  text-align: center;
  color: #000;
}

.middleBox,
.leftBox,
.rightBox {
  width: 25%;
  display: inline-grid;
  background: #fff;
}

.picture {
  width: 100%;
}
