body,
html {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

header {
}

.wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.middleBox,
.leftBox,
.rightBox {
  width: 30%;
}

.picture {
  width: inherit;
}
