body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p,
a {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
}

header {
  background: url(./../img/background.png) no-repeat center top / cover;
  text-align: center;
  padding-bottom: 150px;
}

.wrapper {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

header p {
  color: #fff;
  margin-bottom: 50px;
}

.greeting {
  font-weight: 700;
  padding-top: 100px;
  font-size: 35px;
  color: #fff;
  padding-bottom: 10px;
}

.readMore {
  text-align: center;
  color: #fff;
  width: 160px;
  height: 65px;
  padding: 15px 35px;
  font-size: 18px;
  border: 1px solid #666;
  background: #333;
  text-decoration: none;
}

.readMore:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

.firstSection {
  text-align: center;
  height: 200px;
  background: #fff;
}

.firstSection h2 {
  padding: 20px 0px;
  font-size: 26px;
}

.sectionText {
  columns: 2;
}

.secondSection {
  background: #333;
  padding-top: 50px;
  padding-bottom: 75px;
}

.secondSectionWrapper {
  text-align: center;
  color: #000;
}

.secondSectionWrapper h3 {
  padding: 20px 0;
}

.secondSectionWrapper p {
  text-align: center;
}

.middleBox,
.leftBox,
.rightBox {
  width: 29%;
  display: inline-grid;
  background: #fff;
  margin-left: 30px;
  padding-bottom: 40px;
}

.picture {
  width: 100%;
}

.miniWrapper {
  padding: 0px 20px;
  margin-bottom: 30px;
}

.thirdSection {
  text-align: center;
}

.thirdSection h2 {
  padding: 50px 0px;
}

.thirdSection p {
  padding-bottom: 50px;
}

.fourthSection {
  font-size: 0;
  background: #333;
}

.fourthSection h2 {
  font-size: 26px;
  padding: 30px 0;
}

.fourthSection p {
  padding: 0px 40px;
}

.box {
  text-align: center;
  display: inline-grid;
  color: #fff;
  width: 50%;
  vertical-align: top;
}

.left {
  background: #2690d4;
}

.right {
  background: #333;
}

.emailBox {
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer {
  background: #000;
  color: #fff;
  padding: 2em;
  font-size: 18px;
}

.companyName,
.authors {
  display: inline-grid;
  width: 48%;
  vertical-align: middle;
  text-align: center;
}

.companyName {
  margin-right: auto;
}

.authors {
  margin-left: auto;
}

.authorLink {
  color: #2690d4;
}
